<html>
    <link id="changingcss" rel="stylesheet" type="text/css" href="css/index.css"></link>
    
    !--flex wrapper-->
        <div class="flex-wrapper">
            <!--header-->
            <div class="header-bar">
                <div class="header-container">
                       <!--
                    <div class="header-logo">
                        <a href="/"><img id = "lo" src="images/TamuLogo.png" alt='TAMU Logo' width="65" height="65"></a>
                    </div> -->
                    <div class="header-text">
                        <h1>&nbsp; <span class="link-Style-A"> <a href="https://tamu.edu">Food for All</a> </span> </h1>
                    </div>
                    <div class="header-menu" if = "right">
                        <div class="header-menu-button" onclick="window.location.href='index.html';">
                            <div style="display: table-cell; vertical-align: middle;">
                                <div>Home</div>
                            </div>
                        </div>
                        <div class="header-menu-button" onclick="window.location.href='about.html';">
                            <div style="display: table-cell; vertical-align: middle;">
                           <!--     <div>Donate Now! &nbsp;Me</div> -->
                                <div>Donate Food Now</div>
                            </div>
                        </div>
                        <div class="header-menu-button" onclick="window.location.href='qual.html';">
                            <div style="display: table-cell; vertical-align: middle;">
                                <div>Receive Food Now</div>
                            </div>
                        </div>
                        <div class="header-menu-button" onclick="window.location.href='service.html';">
                            <div style="display: table-cell; vertical-align: middle;">
                                <div>Service</div>
                            </div>
                        </div>
                        <div class= 'header-menu-button'  onclick="setStylesheet('1')">
                        
                            <div style="display: table-cell; vertical-align: middle;">
                                <div>Style&nbsp;1</div>
                            </div>
                        
                        
                        </div>
                        <div class= 'header-menu-button' onclick="setStylesheet('2')">  <div style="display: table-cell; vertical-align: middle;">
                            <div>Style&nbsp;2</div>
                        </div>
                    
                      <!--  <li><a onclick="setStylesheet('B')">Stylesheet B</a></li> -->

                        </div>

                </div>
            </div>
    
            
        <div data-cdc-widget="COVIDCountyCheck" data-horizontal="true" data-style-path="/coronavirus/2019-ncov/widgets/county-checker/cyan-q-background.css" ></div> 
        <script src="https://tools.cdc.gov/1M1B"></script>

    <body>
        Hello world!!!
      
    </body>

                <!--footer not part of flex wrapper  -->
            <!--footer-->
            <div class="footer-container">
                <div class="footer-bar">
                    <div class="footer-left">
                        <div class="footer-subtext-left">
                            <p>&nbsp;</p>
                        </div>
                    </div>

                    <div class="footer-logo">
                      <!--    <a href="/">
                            <img id = "ftLo" src="images/TamuLogo.png" alt='TAMU Logo' width="40" height="40">
                        </a>
                        -->
                    </div>

                    <div class="footer-right">
                        <div class="footer-subtext-right">
                            <p>
                                <span class="link-Style-A"><a href="mailto:allthefoods3@gmail.com">Contact Us</a></span>
                            </p>
                            <p>
                                <span class="link-Style-A"></a></span>

                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




</html>